<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="workflowEngineTarget"
        class="flox.DefaultWorkflowEngine">
        <property name="workflowModelDao">
            <ref bean="workflowModelDao"/>
        </property>
        <property name="stateModelDao">
            <ref bean="stateModelDao"/>
        </property>
        <property name="processLoader">
            <bean class="flox.ClassPathProcessLoader">
                <property name="prefix">
                    <value>flox/fnord</value>
                </property>
                <property name="processNames">
                    <list>
                        <value>foo.xml</value>
                        <value>bar.xml</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="workflowEngine" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="workflowEngineTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="newWorkflow*">PROPAGATION_REQUIRED</prop>
                <prop key="getWorkflow*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

</beans>

